{% extends 'base.html.twig' %}

{% block title %}Authentication{% endblock %}


{% block head %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="form_window">
        <h2>AUTHENTICATION</h2>
        <form method="post">

            <input placeholder="email" type="text" name="email">

            <input placeholder="password" type="password" name="password">

            <label class="label-auth" for="remember-me">remember me
                <input type="checkbox" name="remember-me" id="remember-me">
            </label>

            <a class="link" href="{{ path('reg_open') }}">If you are not registered, follow the link</a>
            <button type="submit" name="submit" class="post_btn">Log in</button>
        </form>
    </div>
{% endblock %}
