<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/stylesheet.css')}}">
            {% endblock %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <h2 class="logo">MY APP</h2>
                <a class="nav_link">Translate to English</a>
            {% endblock %}
        </header>


        {% block content %}{% endblock %}
    </body>
</html>
