<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
</head>

<body>
    <div class="content">
        <p class="error-title">404</p>
        <p class="error">NOT FOUND</p>
    </div>
</body>